a {
    text-decoration: none !important;
}

.left-off-canvas-menu .left-submenu {
    padding-left: 0px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.PopupModal.full-width .modal-dialog {
    max-width: calc(100% - 10px);
}

